* {
  font-family: "Roboto", sans-serif;
  font-size: small;
}
body {
  background-image: url(img/bg.png);
}
.rotate-270 {
  transform: rotate(270deg);
}

.tes {
  font-weight: lighter;
}
a:hover {
  color: orange !important;
}
/* hp */
@media screen and (max-width: 500px) {
  .menu-card {
    width: 10rem !important;
  }
  .modal-card {
    width: 9rem !important;
  }
  .footer-content {
    width: 11rem !important;
  }
}
/* pc */
@media screen and (min-width: 500px) {
  .menu-card {
    width: 13rem !important;
  }
  .footer-content-a {
    padding-left: 8rem !important;
  }
  .footer-content-b {
    padding-right: 7rem !important;
  }
}

/* volumer calculator style */

.right {
  float: right;
  margin-bottom: 5px;
}

.mb___1 {
  margin-bottom: 10px;
}

.left {
  float: left;
  margin-bottom: 5px;
}

.center {
  font-size: 1.75rem;
  font-weight: 500;
}

small.sml {
  margin-left: 5px;
  font-size: 15px;
}

/* volume calculator style end */

/* spray art */
.image-zoom-container {
  list-style: none;
  font-size: 0px;
}

.zoom-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 20%;
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid #fff;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.zoom-container img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
}

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
}

.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  margin: 23% 0 0;
  padding: 10px 0;
  border-top: 5px solid rgba(255, 255, 255, 0.15);
  border-bottom: 5px solid rgba(255, 255, 255, 0.15);
}

.zoom-container:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}

.zoom-container:hover .zoom-caption {
  background: none;
}

@media (max-width: 767px) {
  .zoom-container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .zoom-container {
    width: 100%;
  }
}
/* spray art end */

/* galery */
.image-zoom-container {
  list-style: none;
  font-size: 0px;
}

.zoom-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 20%;
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid #fff;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.zoom-container img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
}

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
}

.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  margin: 23% 0 0;
  padding: 10px 0;
  border-top: 5px solid rgba(255, 255, 255, 0.15);
  border-bottom: 5px solid rgba(255, 255, 255, 0.15);
}

.zoom-container:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}

.zoom-container:hover .zoom-caption {
  background: none;
}

@media (max-width: 767px) {
  .zoom-container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .zoom-container {
    width: 100%;
  }
}
/* galery end */

/* zoom img */
.accesoriesImg:hover {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
}
